<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- my style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>

    <title>Boilerplate</title>
</head>

<body>
    <div class="container ">
    <div id="root">
            <div id="webapp" class="d-flex">
                <div id="contacts-section">
                    <header id="contacts-section-header">
                        <div class="user-info">
                            <div class="figure">
                                <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name">                                
                            </div>
                            <span>{{user.name}}</span>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <div class="notifications-banner">

                        <div class="circle">
                            <i class="fa-regular fa-bell-slash fa-2x"></i>
                        </div>
                        <div>
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="#">Attiva notifiche desktop</a>

                        </div>
                    </div>
                    <div class="search-bar p-2">                        
                        <div class="d-flex justify-content-center align-items-center w-100">
                           <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                           <input class="w-100" type="text" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <div id="contacts-list">

                        
                        <div v-for="(contact, i) in contacts" class="contact-card" @click="showChat(i)">
                             <div class="contact-info">
                             <div class="figure">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">                                
                                </div>
                                <span class="ms-2">{{contact.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="chat-section">
                    <header id="chat-section-header">
                        <div class="user-info">
                            <div class="figure">
                                <img :src="`img/avatar${contacts[currentContact].avatar}.jpg`" 
                                :alt="contacts[currentContact].name">                                
                            </div>
                            <span>{{contacts[currentContact].name}}</span>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <main id="chat-section-main">
                        <div v-for="message in contacts[currentContact].messages"  
                        :class="['message-container', message.status]">
                            <div class="message">
                                <p class="mb-0"> {{ message.text }}</p>
                                <time>{{message.date}}</time>                            
                            </div>
                        </div>                        
                    </main>
                    <footer id="chat-section-footer">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text">
                        <i class="fa-solid fa-microphone"></i>
                    </footer>
                </div>
            </div>
        </div>
    </div>



<!-- javascript -->
    <script src="js/script.js"></script>
</body>

</html>